
body{
  background-color: #515459;
  margin: 0px;
  color:snow;
}

/** HEADER **/
header{
  height: 55px;
  width:100%;
  background-color: #3f8c45;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}



.brand a{
  box-sizing: border-box;
  text-decoration: none;
  float: left;
  height: 55px;
  width: 250px;
  color: snow;
  padding-top: 13px;
  font-size: 25px;
}

.nav a{
  box-sizing: border-box;
  text-decoration: none;
  float: right;
  height: 55px;
  width: 100px;
  text-align: center;
  color: white;
  padding-top: 13px;
  font-size: 25px;
}

.nav a:hover{
  background-color: #515459;
  
}
/* END HEADER */



/* FOOTER */
footer{
  position: fixed;
  bottom:0px;
  height:55px;
  width:100%;
  background-color: #35373a;
  text-align: center;
  color:white;
  padding-top: 5px;

}
/* END FOOTER */


/*MAIN CONTETNT*/

.container{
  margin:auto;
  width: 95%;
}

.container-content{
  margin:auto;
  width: 990px;
}

.main-desc{
display: block;
text-align: justify;
font-size: 16px;

}

.main-foto{
float:right;
margin-left: 5px;
width:900px;
box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.plant-left, .plant-right{
  /*text-align: justify;*/
  box-sizing: border-box;
  padding: 0px 8px 0px 0px;
  margin: 15px 0px 0px 0px;
  width: 49%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.plant-left:hover, .plant-right:hover{
   box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

.plant-left{
  float:left;
  clear:left;
}

.plant-right{
  float:right;
  clear:right;
}

.plant-left p, .plant-right p{
margin-top:3px;
}

.plant-left img, .plant-right img{
  border-radius: 10px 0px 0px 5px;
  margin-right: 5px;
  float:left;
  width: 60%;
}

li{
  list-style-type: none;
}
/*END MAIN CONTENT*/

/********** Large devices only **********/
@media (min-width: 1200px) {
#home{
  display: none;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
#home{
  display: none;
}
.main-foto{
width: 80%;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

#home{
  display: none;
}

.main-foto{
width: 100%;
}
.container-content{
  margin:auto;
  width: 600px;
}
.plant-left, .plant-right{
  width:100%;
}


}

/********** Extra small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
  #home{
  display: block;
}
.main-foto{
  width:100%;
}

.brand a{
  display:  none;
  height: 40px;
  width: 0%;
  padding-top: 25px;
  font-size: 10px;
}

.container-content{
  margin:auto;
  width: 550px;
}
.plant-left, .plant-right{
  width:100%;
}
}

@media (max-width: 575px) {

header{
  height: 60px;
  width:100%;
  background-color: #3f8c45;
}

.main-foto{
  width:100%;
}

.brand a{
  height: 0px;
  width: 0px;
  color: snow;
  padding-top: 20px;
  font-size: 0px;
}

.nav a{
  text-decoration: none;
  float: right;
  height: 60px;
  width: 33%;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 20px;
}

.container-content{
  margin:auto;
  width: 95%;
}
.plant-left, .plant-right{
  padding: 0px 0px 0px 0px;
  width:100%;
}

.plant-left img, .plant-right img{
  border-radius: 10px 10px 0px 0px;

  float:left;
  width: 100%;
}

.plant-left p, .plant-right p{
margin:8px;
}
}