body{
  background-color: #515459;
  margin: 0px;
  color:snow;
  font-family: 'Quicksand', sans-serif;
}

a{
  font-family: 'Varela Round', sans-serif;
}

/** HEADER **/
header{
  width:100%;
  background-color: #3f8c45;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

header, #aqua, .nav a{
  height: 55px;
}

#aqua, .nav a, #btm-place a{
  box-sizing: border-box;
  text-decoration: none;
  color: snow;
  padding-top: 13px;
  font-size: 25px;

}

#aqua{
  float: left;
}

.nav a, #btm-place a{
  float: right;
  width: 100px;
  text-align: center;
}


.nav a:hover{
  background-color: #515459;
  
}
/* END HEADER */

/*Gallery*/

#slider{
  display: block;
  width:90%;
  margin: auto;
  margin-top: 10px;
  clear: right;
}

#btm-place{
  width:200px;
  margin-top: 5px;
  margin: auto;
  background-color: black;
}


#btm-place a:hover{
  background-color: #515459;
  }
/*End Gallery*/

/* FOOTER */
footer{
  position: fixed;
  bottom:0px;
  height:55px;
  width:100%;
  background-color: #35373a;
  text-align: center;
  color:white;
  padding-top: 5px;

}
/* END FOOTER */


/*MAIN CONTETNT*/
.container{
  margin:auto;
  width: 95%;
}

.container-content{
  margin:auto;
  width: 990px;
}

.main-desc{
  display: block;
  text-align: justify;
  font-size: 16px;
}

.main-foto{
  float:right;
  margin-left: 5px;
  width: 900px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.plant-left, .plant-right{
  box-sizing: border-box;
  padding: 0px 8px 0px 0px;
  margin: 15px 0px 0px 0px;
  width: 49%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.plant-left:hover, .plant-right:hover{
   box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

.plant-left{
  float:left;
  clear:left;
}

.plant-right{
  float:right;
  clear:right;
}

.plant-left img, .plant-right img{
  border-radius: 10px 0px 0px 5px;
  margin-right: 5px;
  float:left;
  width: 66%;
}

li{
  list-style-type: none;
  font-style:italic;
}
/*END MAIN CONTENT*/

/********** Large devices only **********/
@media (min-width: 1200px) {
#home{
  display: none;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
#home{
  display: none;
}
.main-foto{
  width: 80%;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

#home{
  display: none;
}

.main-foto{
  width: 100%;
}
.container-content{
  margin:auto;
  width: 600px;
}
.plant-left, .plant-right{
  width:100%;
}
}

/********** Extra small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
#home{
  display: block;
  width:25%;
  float:left;
}
.main-foto{
  width:100%;
}

#aqua{
  display: none;
}

.container-content{
  margin:auto;
  width: 550px;
}
.plant-left, .plant-right{
  width:100%;
}
}

@media (max-width: 575px) {

header{
  width:100%;
  background-color: #3f8c45;
}

.main-foto{
  width:100%;
}

#aqua{
  display: none;
}

.nav a, #home{
  float: right;
  width: 25%;
  padding-top: 17px;
  font-size: 20px;
}

.container-content{
  margin:auto;
  width: 95%;
}
.plant-left, .plant-right{
  padding: 0px 0px 0px 0px;
  width:100%;
}

.plant-left img, .plant-right img{
  border-radius: 10px 10px 0px 0px;
  float:left;
  width: 100%;
}

}