body{
background-color: grey;
}

#imma{
margin: auto;
border: 2px solid white;
width:1000px;
height:577px;
position: relative;
}


#slider{
height:99%;
position: absolute;
margin: auto;
left: 0;
top: 0;
bottom: 0;
right: 0;
}